.container-one[b-rb87el1kr8] {
    background-color: rgb(19, 20, 29);
    border-radius: 14px;
    margin: 2px;
    z-index: 40;
    position: absolute;
    top: auto;
    left: 0px;
    right: auto;
    bottom: 0px;
    width: calc(100% - 4px); /* 4px == .bottom-row.style.margin */
}

.container-two[b-rb87el1kr8] {
    padding: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-button[b-rb87el1kr8] {
    color: #eee;
    background-color: rgb(19, 20, 29);
    border: 0px solid black;
    border-radius: 12px;
    height: calc(var(--top-bar-height) - 16px);
    z-index: 10;
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
}

.icon[b-rb87el1kr8] {
    color: #eee;
    width: 1.8rem;
    font-size: 0.9rem;
    vertical-align: text-top;
    top: -1px;
}

.navlink[b-rb87el1kr8] {
    border-left: 4px solid lightgrey;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex: 1;
}

.nav-item[b-rb87el1kr8] {
    font-size: 0.9rem;
}

    .nav-item[b-rb87el1kr8]  a {
        color: #eee;
        border-radius: 12px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item[b-rb87el1kr8]  a.active {
            background-color: rgba(255,255,255,0.25);
            color: #eee;
            border: 1px solid black;
        }

        .nav-item[b-rb87el1kr8]  a:hover {
            background-color: rgba(255,255,255,0.1);
            color: #eee;
        }

    .nav-item[b-rb87el1kr8]  i {
        color: #eee;
    }

/* start Plugable statuses */

.button-on-highlight-button[b-rb87el1kr8] {
    background-color: rgba(255,255,255,0.25);
}

/* end Plugable statuses */

@media (min-width: 78vh) {
}

@media (min-width: 1008px), (min-width: 110vh) {
}


