.no-margin[b-x4jex87nq9] {
    margin: 0px;
}
.count[b-x4jex87nq9] {
    font-size: 2rem;
}
.size-shape-btn-color[b-x4jex87nq9] {
    background-color: orange;
}
.cube-container[b-x4jex87nq9] {
    background-color: lightgrey;
    border-radius: 8px;
    padding: 4px;
}
.posicube-container[b-x4jex87nq9] {
    align-self: end;

    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: center;
    align-content: end;
}
.negacube-container[b-x4jex87nq9] {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: start;
}
.cube[b-x4jex87nq9] {
    margin: 1px;
    display: inline-block;
}
.posicube[b-x4jex87nq9] {
    background-color: green;
}
.negacube[b-x4jex87nq9] {
    background-color: darkred;
}

/* controlled via razor class (C# adds and removes classes to element) */
.cube-circle[b-x4jex87nq9] {
    border-radius: 50%;
}

.cube-diamond[b-x4jex87nq9] {
    transform: rotate(45deg);  /* turns element 45deg */
    margin: 3px;  /* visually rotated leave corners overlapping (same spacing as before), so increase space around each */
}
/*
.example-class {
    animation: deg45-offset 1s linear infinite;
}
    @keyframes deg45-offset {
    0% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(270deg);
    }
}
*/

