
.bottom-row[b-ifdtalg7dk] {
    background-color: rgb(19, 20, 29);
    border-radius: 14px;
    margin: 2px;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.navbar-buttons-container[b-ifdtalg7dk] {
    padding: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
