.navcontainer-custom[b-nswuw9xe4f] {
    max-height: var(--mobile-menu-height);
    width: 70vw;
    padding: 4px;
    z-index: 1;
    display: none;
    bottom: var(--footer-height);
}

.panel[b-nswuw9xe4f] {
    border-radius: 12px;
    background-color: rgb(19, 20, 29);
    padding: 0.6rem 0px;
}

.panel-position-b[b-nswuw9xe4f] {
    left: calc(calc(100vw - 12px) / 5);
}

.panel-position-c[b-nswuw9xe4f] {
    left: calc(calc(calc(100vw - 12px) / 2) - 35vw);
}

.panel-position-d[b-nswuw9xe4f] {
    right: calc(calc(100vw - 12px) / 5);
}

.panel-position-e[b-nswuw9xe4f] {
    right: 0px;
}

/* start Plugable statuses */

.NavButtonStatusOnPanel[b-nswuw9xe4f] {
    background-color: rgba(255,255,255,0.25);
}

.NavButtonStatusOnPage[b-nswuw9xe4f] {
    background-color: rgba(255,255,255,0.18);
}

.NavButtonStatusOnDeepPage[b-nswuw9xe4f] {
    background-color: rgba(255,255,255,0.1);
}

.NavPanelStatusOnPanel[b-nswuw9xe4f] {
    display: block;
    position: fixed;
}

/* end Plugable statuses */

@media (min-width: 641px) {

    .navcontainer-custom[b-nswuw9xe4f] {
        height: var(--content-height);
        width: auto;
    }
}
