.page-container[b-avgayfhj3a] {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0px 0px 16px 0px;
}
.no-margin[b-avgayfhj3a] {
    margin: 0px;
}
.count[b-avgayfhj3a] {
    font-size: 2rem;
}
.size-shape-btn-color[b-avgayfhj3a] {
    background-color: orange;
}
.cube-container[b-avgayfhj3a] {
    background-color: lightgrey;
    border-radius: 8px;
    padding: 4px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}
.posicube-container[b-avgayfhj3a] {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: center;
    align-content: center;
    overflow-y: auto;
}
.negacube-container[b-avgayfhj3a] {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    overflow-y: auto;
}
.cube[b-avgayfhj3a] {
    margin: 1px;
    display: inline-block;
}
.posicube[b-avgayfhj3a] {
    background-color: green;
}
.negacube[b-avgayfhj3a] {
    background-color: darkred;
}

/* controlled via razor class (C# adds and removes classes to element) */
.cube-circle[b-avgayfhj3a] {
    border-radius: 50%;
}

.cube-diamond[b-avgayfhj3a] {
    transform: rotate(45deg);  /* turns element 45deg */
    margin: 3px;  /* visually rotated leave corners overlapping (same spacing as before), so increase space around each */
}
/*
.example-class {
    animation: deg45-offset 1s linear infinite;
}
    @keyframes deg45-offset {
    0% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(270deg);
    }
}
*/

