
<div class="collapsible-section-header" @onclick="ToggleSection">
    <span class="@IconClasses" aria-hidden="true"></span>
    @ParentButtonText
    <div class="chevron-container">
        <i class="fa fa-chevron-left" style="display: @ChevronLeftDisplay" />
        <i class="fa fa-chevron-down" style="display: @ChevronDownDisplay" />
    </div>
</div>

<div style="display: @SectionDisplay">
    @ChildContent
</div>
