@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <BTNavMenu />
    </div>

    <main>
        <div class="container-fluid header">
            <a class="navbar-brand" href="">MobileNav Template</a>
        </div>
        <div class="top-row fixed-top px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
