
/* start Mobile view */

.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

.larger-than-mobile {
    background-color: #eee;
    width: 100vw;
    height: 100vh;
    z-index: 11;
    display: none;

    position: fixed;
    top: 0;
    left: 0;
}

.ltm-section {
    padding: 8px;
}

.larger-than-mobile-image {
    width: auto;
    height: 50vh;
    border-radius: 35px;
    padding: 20px;
}

.sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
}

.btnnavmenu-parent {
    background-image: linear-gradient(145deg, rgb(5, 39, 103) -5%, red 120%);
    z-index: 2;
}

.nav-button {
    color: white;
    background-color: rgb(19, 20, 29);
    border: 0px solid black;
    border-radius: 12px;
    height: calc(var(--top-bar-height) - 16px);
    z-index: 10;
    display: flex;
    flex: 1;
    justify-content: space-around;
    ;
    align-items: center;
}

.icon {
    color: white;
    width: 1.8rem;
    font-size: 0.9rem;
    vertical-align: text-top;
    top: -1px;
}

.navlink {
    border-left: 4px solid lightgrey;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex: 1;
}

.nav-item {
    font-size: 0.9rem;
}

    .nav-item ::deep a {
        color: white;
        border-radius: 12px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item ::deep a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
            border: 1px solid black;
        }

        .nav-item ::deep a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

    .nav-item ::deep i {
        color: white;
    }

.behind-panel {
    height: calc(var(--top-bar-height) + var(--content-height));
    z-index: 9;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: var(--footer-height);
}

.panel-header {
    background-color: rgba(255,255,255,0.25);
    color: white;
    border-radius: 12px;
    border: 2px solid black;
}

    .panel-header ::deep a {
        color: white;
    }

        .panel-header ::deep a.active {
            background-color: rgba(255,255,255,0.0);
        }

        .panel-header ::deep a:hover {
            background-color: rgba(255,255,255,0.0);
        }

.panel-scrollablesection {
    overflow-y: auto;
    max-height: calc(var(--mobile-menu-height) - 68px - 0.5rem);
    border-radius: 12px;
    padding: 0px 0.4rem;
}

.collapsible-item {
    margin-left: 28px;
    padding-left: 0.4rem;
    border-left: 4px solid grey;
}

/* start Plugable statuses */

.button-on-highlight-button {
    background-color: rgba(255,255,255,0.25);
}

.button-on-show-panel {
    display: block;
    position: fixed;
}

/* end Plugable statuses */

.header {
    background-image: linear-gradient(145deg, rgb(5, 39, 103) -5%, red 120%);
    background-color: rgba(0,0,0,0.4);
    height: var(--top-bar-height);

    display: flex;
    justify-content: center;
    align-items: center;
}

    .header a {
        color: white;
    }

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: var(--top-bar-height);
    display: none;
    align-items: center;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
        text-decoration: underline;
    }

    .top-row ::deep a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

.content {
    position: fixed;
    top: var(--top-bar-height);
    bottom: var(--footer-height);
    width: var(--sidebar-width-mobile);
    overflow-y: auto;
}

.left-negative-space {
    display: none;
}

.right-negative-space {
    display: none;
}

@media (min-width: 78vh) {

    .page {
        background-color: #222;
        width: 100vw;
        height: 100vh;

        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .main {
        width: var(--app-container-width);
        background-color: white;
    }

    .content {
        width: var(--app-container-width);
    }
}

@media (min-width: 1008px) {

    .left-negative-space {
        display: block;
        flex: 1;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        .left-negative-space > p {
            margin: 0px 5vw;
            font-size: 1.2rem;
        }

    .right-negative-space {
        display: block;
        flex: 1;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .qr-code-image {
        width: auto;
        height: 25vw;
        border-radius: 35px;
        padding: 20px;
    }
}
