
.container-one {
    background-color: rgb(19, 20, 29);
    border-radius: 14px;
    margin: 2px;
    z-index: 40;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.container-two {
    padding: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 78vh) {
    .container-one {
        position: absolute;
        top: auto;
        right: auto;
        left: 0px;
        z-index: 40;
        width: calc(100% - 4px); /* 4px == .bottom-row.style.margin */
    }
}
