
.container-one {
    background-color: rgb(19, 20, 29);
    border-radius: 14px;
    margin: 2px;
    z-index: 40;
    position: absolute;
    top: auto;
    left: 0px;
    right: auto;
    bottom: 0px;
    width: calc(100% - 4px); /* 4px == .bottom-row.style.margin */
}

.container-two {
    padding: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
