.navcontainer-custom {
    max-height: var(--mobile-menu-height);
    width: 70vw;
    padding: 4px;
    z-index: 10;
    display: none;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: var(--footer-height);
}

.panel {
    border-radius: 12px;
    background-color: rgb(19, 20, 29);
    padding-top: 0.6rem;
}

.panel-position-b {
    left: calc(calc(100vw - 12px) / 5);
}

.panel-position-c {
    left: calc(calc(calc(100vw - 12px) / 2) - 35vw);
}

.panel-position-d {
    left: auto;
    right: calc(calc(100vw - 12px) / 5);
}

.panel-position-e {
    left: auto;
    right: 0px;
}

/* start Plugable statuses */

.NavButtonStatusOnPanel {
    background-color: rgba(255,255,255,0.25);
}

.NavButtonStatusOnPage {
    background-color: rgba(255,255,255,0.18);
}

.NavButtonStatusOnDeepPage {
    background-color: rgba(255,255,255,0.1);
}

.NavPanelStatusOnPanel {
    display: block;
    position: fixed;
}

/* end Plugable statuses */

@media (min-width: 641px) {

    .navcontainer-custom {
        height: var(--content-height);
        width: auto;
    }
}
