
/* start Mobile view */

.topLevelOfComponent[b-dl8nkf9rip] {
    background-image: linear-gradient(145deg, rgb(5, 39, 103) -5%, red 120%);
    z-index: 2;
}

.nav-button[b-dl8nkf9rip] {
    color: white;
    background-color: rgb(19, 20, 29);
    border: 0px solid black;
    border-radius: 12px;
    height: calc(var(--top-bar-height) - 16px);
    z-index: 10;
    display: flex;
    flex: 1;
    justify-content: space-around;;
    align-items: center;
}

.icon[b-dl8nkf9rip] {
    color: white;
    width: 1.8rem;
    font-size: 0.9rem;
    vertical-align: text-top;
    top: -1px;
}

.navlink[b-dl8nkf9rip] {
    border-left: 4px solid lightgrey;
    padding-left: 16px;
    padding-right: 16px;


    display: flex;
    flex: 1;
}

.nav-item[b-dl8nkf9rip] {
    font-size: 0.9rem;
}

    .nav-item[b-dl8nkf9rip]  a {
        color: white;
        border-radius: 12px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

    .nav-item[b-dl8nkf9rip]  a.active {
        background-color: rgba(255,255,255,0.25);
        color: white;
        border: 1px solid black;
    }

    .nav-item[b-dl8nkf9rip]  a:hover {
        background-color: rgba(255,255,255,0.1);
        color: white;
    }

.nav-item[b-dl8nkf9rip]  i {
    color: white;
}

.behind-panel[b-dl8nkf9rip] {
    height: calc(var(--top-bar-height) + var(--content-height));
    z-index: 9;

    position: fixed;
    left: 0px;
    right: 0px;
    bottom: var(--footer-height);
}

.panel-header[b-dl8nkf9rip] {
    background-color: rgba(255,255,255,0.25);
    color: white;
    border-radius: 12px;
    border: 2px solid black;
}
    .panel-header[b-dl8nkf9rip]  a {
        color: white;
    }

    .panel-header[b-dl8nkf9rip]  a.active {
        background-color: rgba(255,255,255,0.0);
    }

    .panel-header[b-dl8nkf9rip]  a:hover {
        background-color: rgba(255,255,255,0.0);
    }

.panel-scrollablesection[b-dl8nkf9rip] {
    overflow-y: auto;
    max-height: calc(var(--mobile-menu-height) - 68px - 0.5rem);
    border-radius: 12px;
    padding: 0px 0.4rem;
}

.collapsible-item[b-dl8nkf9rip] {
    margin-left: 28px;
    padding-left: 0.4rem;
    border-left: 4px solid grey;
}

/* start Plugable statuses */

.button-on-highlight-button[b-dl8nkf9rip] {
    background-color: rgba(255,255,255,0.25);
}

.button-on-show-panel[b-dl8nkf9rip] {
    display: block;
    position: fixed;
}

/* end Plugable statuses */

/* end Mobile view */

@media (min-width: 641px) {

    /* start Desktop view */

    .navbar-brand[b-dl8nkf9rip] {
        width: auto;
    }

    .navbar-toggler[b-dl8nkf9rip] {
        display: none;
    }

    .collapse[b-dl8nkf9rip] {
        display: block;
    }

    .navmenu-negative[b-dl8nkf9rip] {
        display: none;
    }

    .footer[b-dl8nkf9rip] {
        z-index: 3;
    }

    /* end Desktop view */

}
