.collapsible-section-header[b-p4qwvi34pd] {
    z-index: 10;
    color: white;
    height: 3rem;
    padding-left: 16px;
    padding-right: 0.25rem;
    display: flex;
    flex: 1;
    align-items: center;
}

.chevron-container[b-p4qwvi34pd] {
    width: 16px;
    height: 16px;
    margin-left: 10px;
}

.icon[b-p4qwvi34pd] {
    width: 1.8rem;
    font-size: 0.9rem;
    vertical-align: text-top;
    top: -1px;
}
