
/* start Mobile view */

.page[b-1l7w3tgamb] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.larger-than-mobile[b-1l7w3tgamb] {
    background-color: #eee;
    width: 100vw;
    height: 100vh;
    z-index: 11;
    display: none;

    position: fixed;
    top: 0;
    left: 0;
}

.ltm-section[b-1l7w3tgamb] {
    padding: 8px;
}

.larger-than-mobile-image[b-1l7w3tgamb] {
    width: auto;
    height: 50vh;
    border-radius: 35px;
    padding: 20px;
}

.sidebar[b-1l7w3tgamb] {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
}

.btnnavmenu-parent[b-1l7w3tgamb] {
    background-image: linear-gradient(145deg, rgb(5, 39, 103) -5%, red 120%);
}

.nav-button[b-1l7w3tgamb] {
    color: white;
    background-color: rgb(19, 20, 29);
    border: 0px solid black;
    border-radius: 12px;
    height: calc(var(--top-bar-height) - 16px);
    z-index: 10;
    display: flex;
    flex: 1;
    justify-content: space-around;
    ;
    align-items: center;
}

.icon[b-1l7w3tgamb] {
    color: white;
    width: 1.8rem;
    font-size: 0.9rem;
    vertical-align: text-top;
    top: -1px;
}

.navlink[b-1l7w3tgamb] {
    border-left: 4px solid lightgrey;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex: 1;
}

.nav-item[b-1l7w3tgamb] {
    font-size: 0.9rem;
}

    .nav-item[b-1l7w3tgamb]  a {
        color: white;
        border-radius: 12px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item[b-1l7w3tgamb]  a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
            border: 1px solid black;
        }

        .nav-item[b-1l7w3tgamb]  a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

    .nav-item[b-1l7w3tgamb]  i {
        color: white;
    }

.behind-panel[b-1l7w3tgamb] {
    height: var(--app-container-height);
    z-index: 20;
    display: none;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.panel-header[b-1l7w3tgamb] {
    background-color: rgba(255,255,255,0.25);
    color: white;
    border-radius: 12px;
    border: 2px solid black;
}

    .panel-header[b-1l7w3tgamb]  a {
        color: white;
    }

        .panel-header[b-1l7w3tgamb]  a.active {
            background-color: rgba(255,255,255,0.0);
        }

        .panel-header[b-1l7w3tgamb]  a:hover {
            background-color: rgba(255,255,255,0.0);
        }

.panel-scrollablesection[b-1l7w3tgamb] {
    overflow-y: auto;
    max-height: calc(var(--mobile-menu-height) - 68px - 0.5rem);
    border-radius: 12px;
    padding: 0px 0.4rem;
}

.collapsible-item[b-1l7w3tgamb] {
    margin-left: 28px;
    padding-left: 0.4rem;
    border-left: 4px solid grey;
}

/* start Plugable statuses */

.button-on-highlight-button[b-1l7w3tgamb] {
    background-color: rgba(255,255,255,0.25);
}

.button-on-show-panel[b-1l7w3tgamb] {
    display: block;
    position: fixed;
    transition: display 0.2s;
}

.button-on-show-behind-panel[b-1l7w3tgamb] {
    display: block;
    background-color: rgba(0,0,60,0.1);
    transition: background-color 0.2s;
}

.content-blur[b-1l7w3tgamb] {
    filter: blur(2.5px);
}

/* end Plugable statuses */

.header[b-1l7w3tgamb] {
    background-image: linear-gradient(145deg, rgb(5, 39, 103) -5%, red 120%);
    background-color: rgba(0,0,0,0.4);
    height: var(--top-bar-height);

    display: flex;
    justify-content: center;
    align-items: center;
}

    .header a[b-1l7w3tgamb] {
        color: white;
    }

.top-row[b-1l7w3tgamb] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: var(--top-bar-height);
    display: none;
    align-items: center;
}

    .top-row[b-1l7w3tgamb]  a, .top-row[b-1l7w3tgamb]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-1l7w3tgamb]  a:hover, .top-row[b-1l7w3tgamb]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-1l7w3tgamb]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

.content[b-1l7w3tgamb] {
    position: fixed;
    top: var(--top-bar-height);
    bottom: var(--footer-height);
    width: var(--sidebar-width-mobile);
    overflow-y: auto;
    transition: filter 0.35s;
}

.left-negative-space[b-1l7w3tgamb] {
    display: none;
}

.right-negative-space[b-1l7w3tgamb] {
    display: none;
}

@media (min-width: 78vh) {

    .page[b-1l7w3tgamb] {
        background-color: #222;
        width: 100vw;
        height: 100vh;

        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .larger-than-mobile[b-1l7w3tgamb] {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sidebar[b-1l7w3tgamb] {
        background-color: hotpink;
        position: absolute;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
        width: var(--app-container-width);
        height: var(--app-container-height);
    }
    
    .btnnavmenu-parent[b-1l7w3tgamb] {
        height: 100%;
        width: 100%;
        position: relative;
    }

    .behind-panel[b-1l7w3tgamb] {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .main[b-1l7w3tgamb] {
        width: calc(var(--app-container-width) * 0.95);
        height: calc(var(--app-container-height) * 0.95);
        background-color: white;
        position: relative;
        /* animation: main1 7s ease-in-out infinite; */
    }

    .content[b-1l7w3tgamb] {
        position: absolute;
        top: auto;
        bottom: auto;
        width: 100%;
        height: calc(100% - calc(var(--footer-height) + var(--top-bar-height)));
    }
    .panel-scrollablesection[b-1l7w3tgamb] {
        height: calc(100% - 52px);
    }
}

@media (min-width: 1008px), (min-width: 110vh) {

    .left-negative-space[b-1l7w3tgamb] {
        display: block;
        flex: 1;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        .left-negative-space > p[b-1l7w3tgamb] {
            margin: 0px 5vw;
            font-size: 1.1rem;
        }

    .right-negative-space[b-1l7w3tgamb] {
        display: block;
        flex: 1;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .qr-code-image[b-1l7w3tgamb] {
        width: auto;
        height: 25vw;
        border-radius: 35px;
        padding: 20px;
    }
}

/* animation: main1 7s ease-in-out infinite; */
@keyframes main1-b-1l7w3tgamb {
    0% {
        height: var(--app-container-height);
        width: var(--app-container-width);
        transform: rotate(0deg);
    }
    12.5% {
        height: calc(var(--app-container-height) * 0.4);
        width: calc(var(--app-container-width) * 0.4);
    }
    25% {
        height: var(--app-container-height);
        width: var(--app-container-width);
        transform: rotate(180deg);
    }
    37.5% {
        height: calc(var(--app-container-height) * 0.4);
        width: calc(var(--app-container-width) * 0.4);
    }
    50% {
        height: var(--app-container-height);
        width: var(--app-container-width);
        transform: rotate(360deg);
    }
    62.5% {
        height: calc(var(--app-container-height) * 0.4);
        width: calc(var(--app-container-width) * 0.4);
    }

    75% {
        height: var(--app-container-height);
        width: var(--app-container-width);
        transform: rotate(180deg);
    }

    87.5% {
        height: calc(var(--app-container-height) * 0.4);
        width: calc(var(--app-container-width) * 0.4);
    }

    100% {
        height: var(--app-container-height);
        width: var(--app-container-width);
        transform: rotate(0deg);
    }
}

/* animation: main2 10s ease-in-out infinite; */
@keyframes main2-b-1l7w3tgamb {
    0% {
        height: calc(var(--app-container-height) * 0.9);
        width: calc(var(--app-container-width) * 0.9);
        transform: rotate(0deg);
    }

    12.5% {
        height: calc(var(--app-container-height) * 0.4);
        width: calc(var(--app-container-width) * 0.4);
    }

    25% {
        height: calc(var(--app-container-height) * 0.9);
        width: calc(var(--app-container-width) * 0.9);
    }

    37.5% {
        height: calc(var(--app-container-height) * 0.4);
        width: calc(var(--app-container-width) * 0.4);
    }

    50% {
        height: calc(var(--app-container-height) * 0.9);
        width: calc(var(--app-container-width) * 0.9);
        transform: rotate(360deg);
    }

    62.5% {
        height: calc(var(--app-container-height) * 0.4);
        width: calc(var(--app-container-width) * 0.4);
    }

    75% {
        height: calc(var(--app-container-height) * 0.9);
        width: calc(var(--app-container-width) * 0.9);
    }

    87.5% {
        height: calc(var(--app-container-height) * 0.4);
        width: calc(var(--app-container-width) * 0.4);
    }

    100% {
        height: calc(var(--app-container-height) * 0.9);
        width: calc(var(--app-container-width) * 0.9);
        transform: rotate(0deg);
    }
}

/* animation: main3 7s ease-in-out infinite; */
@keyframes main3-b-1l7w3tgamb {
    0% {
        height: calc(var(--app-container-height) * 0.9);
        width: calc(var(--app-container-width) * 0.9);
        transform: rotate(0deg);
    }

    20% {
        height: calc(var(--app-container-height) * 0.4);
        width: calc(var(--app-container-width) * 0.4);
    }

    40% {
        height: calc(var(--app-container-height) * 0.9);
        width: calc(var(--app-container-width) * 0.9);
        transform: rotate(360deg);
    }

    50% {
        height: calc(var(--app-container-height) * 0.9);
        width: calc(var(--app-container-width) * 0.9);
        transform: rotate(360deg);
    }

    75% {
        height: calc(var(--app-container-height) * 0.4);
        width: calc(var(--app-container-width) * 0.4);
    }

    90% {
        height: calc(var(--app-container-height) * 0.9);
        width: calc(var(--app-container-width) * 0.9);
        transform: rotate(0deg);
    }

    100% {
        height: calc(var(--app-container-height) * 0.9);
        width: calc(var(--app-container-width) * 0.9);
        transform: rotate(0deg);
    }
}

/* animation: main4 7s ease-in-out infinite; */
@keyframes main4-b-1l7w3tgamb {
    0% {
        height: calc(var(--app-container-height) * 0.6);
        width: calc(var(--app-container-width) * 0.6);
        transform: rotateX(0deg) rotateY(0deg) rotate(0deg);
    }

    33% {
        transform: rotateX(360deg) rotateY(0deg) rotate(0deg);
    }

    67% {
        transform: rotateX(360deg) rotateY(360deg) rotate(0deg);
    }

    100% {
        height: calc(var(--app-container-height) * 0.6);
        width: calc(var(--app-container-width) * 0.6);
        transform: rotateX(360deg) rotateY(360deg) rotate(720deg);
    }
}

/* animation: main5 7s linear infinite; */
@keyframes main5-b-1l7w3tgamb {
    0% {
        height: calc(var(--app-container-height) * 0.6);
        width: calc(var(--app-container-width) * 0.6);
        transform: rotateX(0deg) rotateY(0deg) rotate(0deg);
    }

    100% {
        height: calc(var(--app-container-height) * 0.6);
        width: calc(var(--app-container-width) * 0.6);
        transform: rotateX(360deg) rotateY(360deg) rotate(7200deg);
    }
}
