.panel-container[b-szva2dp204] {
    width: var(--panel-container-width);
    padding: 4px;
    z-index: 30;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: var(--footer-height);
    transition: visibility 0.2s, opacity 0.2s;
}

.panel[b-szva2dp204] {
    border-radius: 12px;
    background-color: rgb(19, 20, 29);
    padding-top: 0.6rem;
    height: 100%;
    z-index: 10;
}

.panel-position-b[b-szva2dp204] {
    left: calc(calc(100% - 12px) / 5);
}

.panel-position-c[b-szva2dp204] {
    left: calc(calc(calc(100% - 12px) / 2) - calc(var(--panel-container-width) / 2));
}

.panel-position-d[b-szva2dp204] {
    left: auto;
    right: calc(calc(100% - 12px) / 5);
}

.panel-position-e[b-szva2dp204] {
    left: auto;
    right: 0px;
}

/* start Plugable statuses */

.button-on-show-panel[b-szva2dp204] {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.2s, opacity 0.2s;
}

/* end Plugable statuses */
